html, body {
    height: 100%;   
}

body {
    margin: 0;
}

* {
    font-family: Roboto;
}

li {
    display: inline;
}

.hero {
    font-size: 100px;
}

header h6 {
    margin: 0;
}

header, footer {
    background-color: #282A36;
    color: white;
    width: 100%;
    
   
}  

header {
    height: 400px;
}

footer p {
    text-align: center;
    padding-top: 25px;
}

footer {
    height: 60px;
    
   
    font-size: small;
}