html, body {
    height: 100%;  
    margin: 0; 
    padding: 0;
}

/*body {
    margin: 0;
}*/

* {
    font-family: Roboto;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100px;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 800px;
    margin: 0;
}

li {
    display: inline;
    
    padding-left: 45px;
    margin-top: 0;
}

header h6 {
    margin: 0;
    width: 300px;
    
}

header, footer {
    background-color: #1f2937;
    color: white;
    width: 100%;
    margin: 0;
    
   
}  



.hero.header {
    height: 350px;
    background-color: #1f2937;
    margin: 0;
}

.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;

}

.hero p {
    color: #e5e7eb;
}

.pedestrians {
    display: flex;
    justify-content: flex-end;
    width: 200px;
    
}

.info {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
  
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    width: 500px;
    text-align: center;

}

figure {
    width: 200px;
    display: inline-block;
}

.image {
    width: 200px;
    border: 4px solid #2482f2;
    border-radius: 25px; 
    outline: 3px solid red;
}

figcaption {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.quote {
    width: 100%;
    height: 250px;
    background-color: #e5e7eb;
    margin: 0;
    border: 0;
}

.call-to-action {
    display: block;
    align-items: center;
    width: 100%;
    height: 250px;
}

.bluebox {
    width: 60%;
    height: 150px;
    margin-left: 260px;
    background-color: #2482f2;
    border-radius: 20px;
    
}

footer p {
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

footer {
    height: 60px;
    margin: 0;
    border: 0;
   
    font-size: small;
}