html, body {
    height: 100%;  
    margin: 0; 
    padding: 0;
}

/*body {
    margin: 0;
}*/

* {
    font-family: Roboto;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.links {
    display: flex;
}   

li {
    display: inline;
    
    padding-left: 45px;
    margin-top: 0;
}

header h6 {
    margin: 0;
    width: 300px;
    
}

header, footer {
    background-color: #1f2937;
    color: white;
    width: 100%;
    margin: 0;
    
   
}  

.hero.header {
    height: 350px;
    width: 100%;
    background-color: #1f2937;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20rem;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: justify;
    padding-left: 200px
    
}

.hero h2 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
    margin: 0;

}

.hero p {
    color: #e5e7eb;
}

.hero button {
    background-color: #3882f6;
    color: #fff;
    width: 125px;
    height: 40px;
    /* padding: 14px 20px; */
    text-align: center;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
}

.pedestrians {
    display: flex;
    justify-self: end;
    padding-right: 200px;
    width: 640px;
    height: 320px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

h3 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    width: 500px;
    text-align: center;

}

figure {
    width: 200px;
    display: inline-block;
    justify-content: center;
}

.photos {
    display: flex;
    justify-content: center;
}

.image {
    width: 200px;
    border: 4px solid #2482f2;
    border-radius: 25px; 
}

figcaption {
    text-align: center;
    width: 150px;
}

.quote-container {
    width: 100%;
    height: 250px;
    background-color: #e5e7eb;
    margin: 0;
    border: 0;
}

.quote-box {
    width: 60%;
    height: 40%
}

.call-to-action {
    /* display: block;
    justify-content: center; */
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    height: 250px;
}

.bluebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    width: 60%;
    height: 150px;
    background-color: #2482f2;
    border-radius: 20px;
    gap: 2em;
    
}

.babyblue {
    display: block;
    /* justify-content: center; */

}

.babyblue h5, .babyblue p {
    margin: 0;
    color: #fff;
    margin-left: 80px;
}

.bluebox button {
    width: 125px;
    height: 40px;
    background-color: #3882f6;
    color: #fff;
    border: 3px solid white;
    border-radius: 10px;
    margin-right: 80px;
}

footer p {
    text-align: center;
    padding-top: 25px;
    margin: 0;
}

footer {
    height: 60px;
    margin: 0;
    border: 0;
   
    font-size: small;
}